.header
    &__dark
        background-color: #005190
    &__link
        &__main
            &::after 
                position: absolute
                content: ''
                display: flex
                width: 100%
                height: 3px
                bottom: 0
                left: 0
                margin-bottom: -26px
                background-color: $excretion
.map
    margin-top: 50px

.modal__input-group label
	&.invalid
    position: absolute
    color: tomato
    margin-top: 60px
.modal__policy label
  &.invalid
    position: absolute
    color: tomato
    margin-top: 20px
    margin-left: 13px
.modal__input-group input
	&.invalid
		border: 2px solid tomato

.questions__form__input
    position: relative
.questions__form__input label
	&.invalid
    position: absolute
    top: 0
    left: 0
    color: tomato
    margin-top: 50px
.questions__policy label
  &.invalid
    position: absolute
    color: tomato
    margin-top: 14px
    margin-left: 13px
.questions__form__input input
	&.invalid
		border: 2px solid tomato


        
.contacts__form__input
    position: relative
.contacts__form__input label
	&.invalid
    position: absolute
    top: 0
    left: 0
    color: tomato
    margin-top: 40px
    font-size: 14px
.contacts__form__input-text
    position: relative
.contacts__form__input-text label
	&.invalid
    position: absolute
    left: 0
    bottom: 0
    color: tomato
    margin-bottom: -5px
    font-size: 14px
.contacts__policy label
  &.invalid
    position: absolute
    color: tomato
    margin-top: 14px
    margin-left: 13px
.contacts__form__input input
	&.invalid
		border: 2px solid tomato
.contacts__form__input-text input
	&.invalid
		border: 2px solid tomato